<style>
    .btn-search {
        background-color: #ff0000;
        color: white;
        padding: 0 1rem 0 1rem;

        &:hover {
            background-color: #ff0000;
            color: white;
        }
    }

    .btn-search i {
        display: inline;
    }

    .search-input {
        border-radius: 12px;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
</style>

<nav class="sticky-top navbar navbar-expand-md bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fa-compass" href="/listings"><i class="fa-solid fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" />
                    <button class="btn btn-search rounded-4" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;<b>Search</b></button>
                </form>
            </div>


            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add new Listings</a>
                <!-- currentUser ->  res.locals.currentUser = req.user; in app.js -->
                    <%if(!currentUser) { %>
                    <a class="nav-link" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>LogIn</b></a>
                    <%}%>
                    
                    <%if(currentUser) { %>
                        <a class="nav-link" href="/logout"><b>LogOut</b></a>
                    <%}%>
            </div>
        </div>

    </div>
</nav>